<div class="jumbotron jumbotron-fluid bg-light mb-0" id="modalities">
  <div class="container">
    <h1 class="display-4 mb-5">As nossas modalidades</h1>

    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <div class="card">
          <img src="assets/modality1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Musculação</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="assets/modality2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cardio/Fitness</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="assets/modality3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Treino localizado</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="assets/modality4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Kickboxing</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="assets/modality5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Danças latinas</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="assets/modality6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fit sénior</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="assets/modality7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dance kids</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="assets/modality8.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Indoor cycling</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="assets/modality9.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pilates</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="assets/modality10.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Karate kids</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="assets/modality11.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Circuito funcional</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="assets/modality12.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Zumba</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="assets/modality13.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Balance</h5>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="assets/modality14.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Salsation</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>