.intro {
    background-image: url("../../assets/bg.jpg");
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.mt-40 {
    margin-top: 42vh;
}

h1 {
    font-size: 3rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #ec3642;
}