<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="/assets/logo.png" loading="lazy">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLink="/modalities">Modalidades</a>
      <a class="nav-link" routerLink="/gym-services">Serviços</a>
      <a class="nav-link" routerLink="/installations">Instalações</a>
      <a class="nav-link" routerLink="/schedule">Horário</a>
      <a class="nav-link" routerLink="/gallery">Galeria</a>
      <a class="nav-link disabled" href="#">Preçário</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer mt-auto py-3 bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h3>Horário</h3>
        <table class="table table-sm table-dark">
          <thead>
            <tr>
              <th scope="col">Dia da semana</th>
              <th scope="col">Horário</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Monday</td>
              <td>08:30-13:00</td>
              <td>15:00-22:00</td>
            </tr>
            <tr>
              <td>Tuesday</td>
              <td>08:30-13:00</td>
              <td>15:00-22:00</td>
            </tr>
            <tr>
              <td>Wednesday</td>
              <td>08:30-13:00</td>
              <td>15:00-22:00</td>
            </tr>
            <tr>
              <td>Thursday</td>
              <td>08:30-13:00</td>
              <td>15:00-22:00</td>
            </tr>
            <tr>
              <td>Friday</td>
              <td>08:30-13:00</td>
              <td>15:00-22:00</td>
            </tr>
            <tr>
              <td>Saturday</td>
              <td>09:00-13:00</td>
              <td>15:00-19:00</td>
            </tr>
            <tr>
              <td>Sunday and Holidays</td>
              <td>Closed</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-3">
        <h3>Contacto</h3>
        <h6>Telefone:</h6>
        <p>229605175</p>
        <h6>Telemóvel:</h6>
        <p>919932322</p>
        <h6>E-mail:</h6>
        <p class="mb-0">just4fit@portugalmail.pt</p>
        <p>geral@just4fit.pt</p>
      </div>

      <div class="col-3">
        <h3>Morada</h3>
        <p class="mb-0">Rua 5 de Outubro, nº 156</p>
        <p class="mb-0">4475-302</p>
        <p>Maia</p>

        <iframe width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.pt/maps?f=q&amp;source=s_q&amp;hl=pt-PT&amp;geocode=&amp;q=Rua+5+de+Outubro,+n%C2%BA+156+4475-302+-+Maia&amp;sll=41.216596,-8.591652&amp;sspn=0.008603,0.021136&amp;ie=UTF8&amp;hq=&amp;hnear=R.+5+de+Outubro+156,+Maia&amp;ll=41.216564,-8.591738&amp;spn=0.008603,0.021136&amp;z=14&amp;output=embed"></iframe>
      </div>
    </div>
  </div>
</footer>