<div class="jumbotron jumbotron-fluid bg-light mb-0" id="modalities">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-4 mb-5">As nossas aulas</h1>
        <div class="table-responsive-md">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Horas</th>
                <th scope="col">Segunda</th>
                <th scope="col">Terça</th>
                <th scope="col">Quarta</th>
                <th scope="col">Quinta</th>
                <th scope="col">Sexta</th>
                <th scope="col">Sábado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">
                  9:15
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="bg-danger">IAIJUTSU 60'</td>
              </tr>
              <tr>
                <td>
                  9:30
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="table-success">CICLE 45'</td>
              </tr>
              <tr>
                <td>
                  10:00
                </td>
                <td class="table-warning">CIRCUITO 30'</td>
                <td class="table-danger">ZUMBA 45'</td>
                <td></td>
                <td class="table-danger">SALSATION 45'</td>
                <td class="table-danger">STEP 30'</td>
                <td></td>
              </tr>
              <tr>
                <td>
                  10:30
                </td>
                <td></td>
                <td></td>
                <td class="table-info">PILATES 30'</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>
                  10:45
                </td>
                <td class="table-info">PILATES 30'</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="table-info">BALANCE 45'</td>
              </tr>
              <tr>
                <td>
                  11:00
                </td>
                <td></td>
                <td class="bg-warning">LOCAL 30'</td>
                <td></td>
                <td class="table-info">BALANCE 30'</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>
                  11:30
                </td>
                <td></td>
                <td></td>
                <td class="table-success">CYCLE 30'</td>
                <td></td>
                <td></td>
                <td class="bg-danger">KARATÉ 60'</td>
              </tr>
              <tr class="table-secondary">
                <td colspan="7"></td>
              </tr>
              <tr>
                <td>
                  16:00
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="table-info">PILATES 30'</td>
              </tr>
              <tr>
                <td>
                  17:00
                </td>
                <td></td>
                <td class="table-warning">CARDIO 20'</td>
                <td></td>
                <td class="table-warning">CARDIO 20'</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>
                  18:45
                </td>
                <td class="bg-warning">LOCAL 30'</td>
                <td class="table-warning">CIRCUITO 30'</td>
                <td class="bg-warning">LOCAL 30'</td>
                <td class="table-warning">CIRCUITO 30'</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>
                  19:00
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="table-danger">ZUMBA 30'</td>
                <td></td>
              </tr>
              <tr>
                <td>
                  19:15
                </td>
                <td></td>
                <td class="table-info">PILATES 30'</td>
                <td class="table-danger">SALSATION 30'</td>
                <td class="table-info">PILATES 30'</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td rowspan="2">
                  19:30
                </td>
                <td class="bg-danger">KICKBOXE 90'</td>
                <td class="table-success">CYCLE 30'</td>
                <td class="table-success">CYCLE 30'</td>
                <td></td>
                <td class="table-danger">ZUMBA 30'</td>
                <td></td>
              </tr>
              <tr>
                <td class="table-success">CYCLE 30'</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td rowspan="2">19:45</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="bg-danger">KICKBOXE 90'</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td class="table-danger">DANÇAS LATINAS 60'</td>
                <td></td>
                <td class="table-success">CYCLE 30'</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>20:00</td>
                <td></td>
                <td></td>
                <td class="table-info">BALANCE 30'</td>
                <td></td>
                <td class="table-danger">DANÇAS LATINAS 60'</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>