<div class="jumbotron jumbotron-fluid bg-light mb-0" id="modalities">
  <div class="container">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">HORAS</th>
          <th scope="col">Monday</th>
          <th scope="col">Tuesday</th>
          <th scope="col">Wednesday</th>
          <th scope="col">Thursday</th>
          <th scope="col">Friday</th>
          <th scope="col">Saturday</th>
          <th scope="col">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">
            9:15 AM
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="table-danger">IAIJUTSU 60'</td>
          <td></td>
        </tr>
        <tr>
          <td>
            9:30 AM
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="table-success">CICLE 45'</td>
          <td></td>
        </tr>
        <tr>
          <td>
            10:00 AM
          </td>
          <td class="table-warning">CIRCUITO 30'</td>
          <td class="bg-danger">ZUMBA 45'</td>
          <td></td>
          <td class="bg-danger">SALSATION 45'</td>
          <td class="bg-danger">STEP 30'</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            10:30 AM
          </td>
          <td></td>
          <td></td>
          <td class="table-info">PILATES 30'</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            10:45 AM
          </td>
          <td class="table-info">PILATES 30'</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="table-info">BALANCE 45'</td>
          <td></td>
        </tr>
        <tr>
          <td>
            11:00 AM
          </td>
          <td></td>
          <td class="bg-warning">LOCAL 30'</td>
          <td></td>
          <td class="table-info">BALANCE 30'</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            11:30 AM
          </td>
          <td></td>
          <td></td>
          <td class="table-success">CYCLE 30'</td>
          <td></td>
          <td></td>
          <td class="table-danger">KARATÉ 60'</td>
          <td></td>
        </tr>
        <tr class="table-secondary">
          <td colspan="8"></td>
        </tr>
        <tr>
          <td>
            16:00 PM
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="table-info">PILATES 30'</td>
          <td></td>
        </tr>
        <tr>
          <td>
            17:00 PM
          </td>
          <td></td>
          <td class="table-warning">CARDIO 20'</td>
          <td></td>
          <td class="table-warning">CARDIO 20'</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            18:45 PM
          </td>
          <td class="bg-warning">LOCAL 30'</td>
          <td class="table-warning">CIRCUITO 30'</td>
          <td class="bg-warning">LOCAL 30'</td>
          <td class="table-warning">CIRCUITO 30'</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            19:00 PM
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="bg-danger">ZUMBA 30'</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            19:15 PM
          </td>
          <td></td>
          <td class="table-info">PILATES 30'</td>
          <td class="bg-danger">SALSATION 30'</td>
          <td class="table-info">PILATES 30'</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td rowspan="2">
            19:30 PM
          </td>
          <td class="table-danger">KICKBOXE 90'</td>
          <td class="table-success">CYCLE 30'</td>
          <td class="table-success">CYCLE 30'</td>
          <td></td>
          <td class="bg-danger">ZUMBA 30'</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="table-success">CYCLE 30'</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td rowspan="2">19:45 PM</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="table-danger">KICKBOXE 90'</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td class="bg-danger">DANÇAS LATINAS 60'</td>
          <td></td>
          <td class="table-success">CYCLE 30'</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>20:00 PM</td>
          <td></td>
          <td></td>
          <td class="table-info">BALANCE 30'</td>
          <td></td>
          <td class="bg-danger">DANÇAS LATINAS 60'</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>