<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="assets/installation1.jpg" class="card-img-top">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="assets/installation2.jpg" class="card-img-top">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="assets/installation3.jpg" class="card-img-top">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="assets/installation4.jpg" class="card-img-top">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="assets/installation5.jpg" class="card-img-top">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="assets/installation6.jpg" class="card-img-top">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="assets/installation7.jpg" class="card-img-top">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="assets/installation8.jpg" class="card-img-top">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="assets/installation9.jpg" class="card-img-top">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="assets/installation10.jpg" class="card-img-top">
        </div>
      </div>
    </div>
  </div>
</div>